﻿@model VidlyAps.netMVC.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<p>MemebershipType: @Model.MembershipType.Name</p>
<p>Date Of Birth: 
 @if (Model.DateOfBirth.HasValue)
{
     @Model.DateOfBirth.Value.ToShortDateString()
}
    </p>



