﻿@model IEnumerable<VidlyAps.netMVC.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


    @if (!Model.Any())
    { 
        <p>Don't have any customer </p>
    }

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Discount Rate
        </th>
    
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details",new { id=item.Id}) 
        </td>
       <td>
           @item.MembershipType.Name
       </td>
       
    </tr>
}

</table>
