﻿@model VidlyAps.netMVC.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<p>Genre: @Model.Genre.Name</p>
<p>Created  Date: @Model.CreatedDate</p>
<p>Last Modidfied: @Model.UpdateDate</p>
<p>Number of stock: @Model.Stocks</p>



