﻿@model IEnumerable<VidlyAps.netMVC.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Any())
{
<table class="table table-bordered table-hover">
    <thead>
       <tr>
           <td>Movies</td>
           <td>Genre</td>
       </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, new { })</td>
                <td>@movie.Genre.Name</td>
            </tr>
            

        }
    </tbody>
</table>
}
else { 

   <p>Sorry Doesnot have any movies</p>

}

